* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: auto;
}

header {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;

  background: #2d6cbb;
}

main {
  display: grid;
  grid-template-columns: 2fr 8fr 3fr;
  width: 100%;
  height: calc(100vh - 100px - 150px);
  background: white;
}

ng-component {
  overflow-y: scroll;
}

ng-component::-webkit-scrollbar {
  width: 2px;
  background: white;
}

ng-component::-webkit-scrollbar-thumb {
  border-radius: 50%;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #737272;
  border: 1px solid #000;
}


.left-side {
  border-right: 1px solid black;
  background: transparent;
  overflow-y: hidden;
}
.left-side:hover {
  overflow: scroll;
}


.right-side {
  display: grid;
  grid-template-rows: repeat(auto-fill, 35px);
  padding: 15px;
  background: #0f76c2;
  border-right: 1px solid black;
  overflow-y: scroll;
}

.right-side::-webkit-scrollbar {
  width: 10px;
}

.right-side > select {
  height: 30px
}

.right-side > .prepairing > table {
  padding-top: 15px;
  width: 100%;
}

.right-side > .prepairing > table > tr > td > input {
  background: transparent;
}

.right-side > button {
  margin-top: 5px;
  height: 30px
}

footer {
  display: grid;

  grid-template-rows: 60px 90px;
  grid-template-columns: 2fr 8fr 3fr;
  grid-template-areas:
          "cl cl cl"
          "cm debug debug";
  position: relative;
  bottom: 0;
  background: green;
}

app-app-commands {
  grid-area: cl;
}

footer > .context-menu {
  display: grid;
  justify-content: center;
  align-items: center;
  background: black;
  grid-area: cm;
}

footer > .context-menu > .circle {
  width: 50px;
  height: 50px;
  background: #0d47a1;
  border-radius: 50%;
}

.context-menu > .circle:hover > nav {
  position: absolute;
  left: 150px;
  bottom: 30px;
  width: 100px;
  height: 100px;
  display: block;
  background: green;
  z-index: 9999;
}

footer > .debug {
  grid-area: debug;
}
