<div class="wrapper">
    <header>

    </header>
    <main>
        <aside class="left-side">
            <app-app-main-menu></app-app-main-menu>
        </aside>
        <ng-component></ng-component>
        <aside class="right-side">
            <app-app-commands-changer></app-app-commands-changer>
        </aside>
    </main>
    <footer>
        <app-app-commands></app-app-commands>
        <div class="context-menu">
            <div class="circle">
                <nav></nav>
            </div>
        </div>
        <div class="debug"></div>
    </footer>
</div>
