 h1 {
  padding: 15px;
}

div > ul {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
}

div > ul > li {
  position: relative;
  padding: 15px;
  background: #737272;
  transition: 0.2s linear;
  cursor: pointer;
}
div > ul > li:hover {
  background: mediumseagreen;
  transition: 0.2s linear;
  cursor: pointer;
}
div > ul > li {
  border: none;
  outline: none;
}

div > ul > .check-item {
  background: #0f76c2 !important;
}
div > ul > .active {
  background: cornflowerblue;
}


ons-list-item {
  cursor: pointer;
}
 span.ng-star-inserted {
  position: absolute !important;
  float: right;
   padding: 10px;
}
div > ul > li > span > .activated {
  color: white !important;
}

.bg-grey {
  background: #ccc;
}
.grid-center {
  display: grid;
  width: 100%;
  justify-content: center;
}


.chevron {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
.chevron-rotate {
  transform: rotate(315deg);
}

.pointer {
  cursor: pointer;
}
.display {
  display: none;
}

.active-item {
  background: mediumseagreen;
}

.active-border {
  background-size: 100% 0px, 100% 1px, 100% 1px, 100% 1px !important;
  background-image: linear-gradient(0deg,#F3F,#ccc 50%,transparent 50%),linear-gradient(180deg,green,#ccc 50%,transparent 50%) !important;
}